<% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label "name*" %>
  <%= f.text_field :name, :size => "33x5" %>
  <br>
  <br>
  <%= f.label "email*" %>
  <%= f.text_field :email, :size => "33x5" %>
  <br>
  <br>
  <%= f.radio_button(:department, "Sales") %>
  <%= f.label :Sales %>
  <%= f.radio_button(:department, "Marketing") %>
  <%= f.label :Marketing %>
  <%= f.radio_button(:department, "Technical") %>
  <%= f.label :Technical %>
  <br>
  <br>
  <%= f.label :Notes %>
  <br>
  <%= f.text_area :message, :size => "35x5" %>
  <br>
  <br>
  <%= f.submit %>
  <br>
  <br>
  <%= link_to "Back To Dashboard", back_post_path(@post) %>
<% end %>